<div class="w-12/12 h-screen pt-24">
  <div class="border-b border-gray-200 dark:border-gray-700 container flex flex-wrap justify-between items-center mx-auto">
    <div class="flex md:order-2 pr-6">
      <button (click)="addUser()" type="button" class="text-white bg-blue-900 hover:bg-blue-800 focus:ring-4 flex focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-3 md:mr-0 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
        <svg class="w-5 h-5" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
          <path d="M10.75 4.75a.75.75 0 00-1.5 0v4.5h-4.5a.75.75 0 000 1.5h4.5v4.5a.75.75 0 001.5 0v-4.5h4.5a.75.75 0 000-1.5h-4.5v-4.5z" />
        </svg>
       New Enquiry
      </button>
  </div>

    <ul class="flex flex-wrap -mb-px text-sm font-medium text-center text-gray-500 dark:text-gray-400">

      <li (click)="changePages('pending')" class="cursor-pointer mr-5 mb-4">
        <div [ngClass]="{'bg-yellow-100':selectedPage=='pending'}"  class="flex  transition ease-in-out delay-50 hover:-translate-y-1 hover:scale-110 duration-300 items-center px-4 w-48  text-yellow-500 bg-white rounded-lg shadow dark:text-gray-400 dark:bg-gray-800" role="alert">
          <div class="inline-flex flex-shrink-0 justify-center items-center w-12 h-12 text-yellow-500 bg-yellow-100 rounded-lg dark:bg-yellow-800 dark:text-yellow-200">
              <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">   <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zM8.94 6.94a.75.75 0 11-1.061-1.061 3 3 0 112.871 5.026v.345a.75.75 0 01-1.5 0v-.5c0-.72.57-1.172 1.081-1.287A1.5 1.5 0 108.94 6.94zM10 15a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd" /></svg>
              <!-- <span class="sr-only">Fire icon</span> -->
          </div>
          <div class="ml-3 mt-5 font-normal">
            <p class=" text-md">On waiting</p>
            <p class=" text-3xl text-left">5</p>
          </div>
      </div>
      </li>

      <li (click)="changePages('closed')" class="cursor-pointer mr-5 mb-4">
        <div [ngClass]="{'bg-gray-100':selectedPage=='closed'}" class="flex  transition ease-in-out delay-50 hover:-translate-y-1 hover:scale-110 duration-300 items-center px-4 w-48  text-gray-500 bg-white rounded-lg shadow dark:text-gray-400 dark:bg-gray-800" role="alert">
          <div class="inline-flex flex-shrink-0 justify-center items-center w-12 h-12 text-gray-500 bg-gray-100 rounded-lg dark:bg-gray-700 dark:text-gray-200">
              <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">  <path fill-rule="evenodd" d="M18 5.25a2.25 2.25 0 00-2.012-2.238A2.25 2.25 0 0013.75 1h-1.5a2.25 2.25 0 00-2.238 2.012c-.875.092-1.6.686-1.884 1.488H11A2.5 2.5 0 0113.5 7v7h2.25A2.25 2.25 0 0018 11.75v-6.5zM12.25 2.5a.75.75 0 00-.75.75v.25h3v-.25a.75.75 0 00-.75-.75h-1.5z" clip-rule="evenodd" />
                <path fill-rule="evenodd" d="M3 6a1 1 0 00-1 1v10a1 1 0 001 1h8a1 1 0 001-1V7a1 1 0 00-1-1H3zm6.874 4.166a.75.75 0 10-1.248-.832l-2.493 3.739-.853-.853a.75.75 0 00-1.06 1.06l1.5 1.5a.75.75 0 001.154-.114l3-4.5z" clip-rule="evenodd" /></svg>
              <!-- <span class="sr-only">Fire icon</span> -->
          </div>
          <div class="ml-3 mt-5 font-normal">
            <p class=" text-md">Closed</p>
            <p class=" text-3xl text-left">40</p>
          </div>
      </div>
      </li>

      <li (click)="changePages('cancelled')" class="cursor-pointer mr-5 mb-4">
        <div [ngClass]="{'bg-red-100':selectedPage=='cancelled'}" class="flex  transition ease-in-out delay-50 hover:-translate-y-1 hover:scale-110 duration-300 items-center px-4 w-48  text-red-500 bg-white rounded-lg shadow dark:text-gray-400 dark:bg-gray-800" role="alert">
          <div class="inline-flex flex-shrink-0 justify-center items-center w-12 h-12 text-red-500 bg-red-100 rounded-lg dark:bg-red-800 dark:text-red-200">
              <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
                <path d="M2 3a1 1 0 00-1 1v1a1 1 0 001 1h16a1 1 0 001-1V4a1 1 0 00-1-1H2z" />
                <path fill-rule="evenodd" d="M2 7.5h16l-.811 7.71a2 2 0 01-1.99 1.79H4.802a2 2 0 01-1.99-1.79L2 7.5zm5.22 1.72a.75.75 0 011.06 0L10 10.94l1.72-1.72a.75.75 0 111.06 1.06L11.06 12l1.72 1.72a.75.75 0 11-1.06 1.06L10 13.06l-1.72 1.72a.75.75 0 01-1.06-1.06L8.94 12l-1.72-1.72a.75.75 0 010-1.06z" clip-rule="evenodd" />
              </svg>
              </svg>
              <!-- <span class="sr-only">Fire icon</span> -->
          </div>
          <div class="ml-3 mt-5 font-normal">
            <p class=" text-md">Cancelled</p>
            <p class=" text-3xl text-left">7</p>
          </div>
      </div>
      </li>

      <li (click)="changePages('approved')" class="cursor-pointer mr-5 mb-4">
        <div [ngClass]="{'bg-green-100':selectedPage=='approved'}" class="flex  transition ease-in-out delay-50 hover:-translate-y-1 hover:scale-110 duration-300 items-center px-4 w-48  text-green-500 bg-white rounded-lg shadow dark:text-gray-400 dark:bg-gray-800" role="alert">
          <div class="inline-flex flex-shrink-0 justify-center items-center w-12 h-12 text-green-500 bg-green-100 rounded-lg dark:bg-green-800 dark:text-green-200">
              <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">   <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" /></svg>
              <!-- <span class="sr-only">Fire icon</span> -->
          </div>
          <div class="ml-3 mt-5 font-normal">
            <p class=" text-md">Approved</p>
            <p class=" text-3xl text-left">3</p>
          </div>
      </div>
      </li>
    </ul>
  </div>

  <app-all-enquiries @fadeSlideInOut *ngIf="selectedPage=='all'" class="w-12/12"></app-all-enquiries>
  <app-pending-enquiries @fadeSlideInOut *ngIf="selectedPage=='pending'" class="w-12/12"></app-pending-enquiries>
  <app-closed-enquiries @fadeSlideInOut *ngIf="selectedPage=='closed'" class="w-12/12"></app-closed-enquiries>
  <app-cancelled-enquiries @fadeSlideInOut *ngIf="selectedPage=='cancelled'" class="w-12/12"></app-cancelled-enquiries>
  <app-approved-enquiries @fadeSlideInOut *ngIf="selectedPage=='approved'" class="w-12/12"></app-approved-enquiries>

</div>
