.gradientBackground{
background: rgb(189,30,44);
background: linear-gradient(131deg, rgba(189,30,44,1) 0%, rgba(43,57,144,1) 100%);
height: 100vh;
width:100vw;
}
.glassy{
background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.1);
}
