table {
  width: 100%;
}
.mat-table
{
  background-color:transparent!important;
}
table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 15em;
}
table tr:last-child td /*To remove the last border*/
{
  border-bottom:0 solid
}
