<div class=" w-12/12 p-10">

  <div class="relative flex flex-wrap justify-between items-center mx-auto mb-6">
    <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
        <svg class="w-5 h-5 text-gray-500 dark:text-gray-400" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd"></path></svg>
    </div>
    <input  #input (keyup)="applyFilter($event)" type="text" id="table-search-users" class="block p-2 pl-10 w-80 text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Search for users">
<p class="text-blue-900 dark:text-gray-400">ALL USERS LIST</p>
  </div>

  <div class="dark:bg-gray-900 customShadow rounded-2xl">
    <table mat-table [dataSource]="dataSource" matSort>

      <!-- ID Column -->
      <ng-container matColumnDef="id" >
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="dark:text-white"> ID </th>
        <td mat-cell class="dark:text-white" *matCellDef="let row"> {{row.id}} </td>
      </ng-container>

      <!-- Progress Column -->
      <ng-container matColumnDef="progress">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="dark:text-white"> Progress </th>
        <td mat-cell class="dark:text-white" *matCellDef="let row"> {{row.progress}}% </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="dark:text-white"> Name </th>
        <td mat-cell class="dark:text-white" *matCellDef="let row"> {{row.name}} </td>
      </ng-container>

      <!-- Fruit Column -->
      <ng-container matColumnDef="fruit">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="dark:text-white"> Fruit </th>
        <td mat-cell class="dark:text-white" *matCellDef="let row"> {{row.fruit}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns" class="dark:text-white"></tr>
      <tr mat-row class="dark:text-white" *matRowDef="let row; columns: displayedColumns;" class="dark:text-white"></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="dark:text-white mat-row" *matNoDataRow>
        <td class="dark:text-white mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
      </tr>
    </table>

    <mat-paginator class="dark:text-white dark:bg-blue-900" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
  </div>
</div>
